.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.resultHighlight {
    font-size: 30px;
    font-weight: bold;
}